<section id="section-contactus" class="py-5" data-overlay="8">
    <div class="container py-5 px-5 card">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 col-sm-12 text-center">
                    <h2>SEND ME A MAIL</h2><hr class="w-50 hidden-sm-down">
                    <h4><b>Get in touch via contact form or email me directly</b></h4>
                    <p>I will get back to you as soon as possible</p>
                    <hr>
                </div>  
                
                <div class="row">
                    <div class="col-md-4 col-sm-4 text-center" >
                        <div>
                            <h3><strong>Where To Meet?</strong> </h3>
                        </div>
                        <!-- Personal Info -->
                        <div>
                            <p>Lucban Quezon</p>
                            <p>Quezon Philippines</p>
                        </div>
                        <hr>
                        <div>
                            <h3><strong>Say Hello</strong> </h3>
                        </div>
                        <!-- Personal Info -->
                        <div>
                            <p><strong>Email: </strong> some_email@gmail.com</p>
                            <p><strong>Phone: </strong>+639-19-589-5787</p>
                        </div>
                        <hr>

                        <div>
                            <p><a href='#' class="">Google Maps <span class="glyphicon glyphicon-arrow-right"></span></a></p>
                            <p>Google map image here..</p>
                        </div>
                        <hr>
                    </div>
                    <div class="col-md-7 col-sm-8 " >
                        <form>
                            <fieldset>
                                <div class="form-group">
                                  <label for="inputSubject" class="col-md-12 control-label">Subject:</label>
                                  <div class="col-md-12">
                                    <input type="text" class="form-control" id="inputSubject" name='subject' placeholder="Subject" required>
                                  </div>
                                </div>
                                <hr>
                                <div class="form-group">
                                  <label for="name" class="col-md-12 control-label">Full Name:</label>
                                  <div class="col-md-12">
                                    <input type="text" class="form-control" id="name" name='name' placeholder="From" required>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="email" class="col-md-12 control-label">Email:</label>
                                  <div class="col-md-12">
                                    <input type="text" class="form-control" id="email" name='email' placeholder="Email" required>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="message" class="col-md-12 control-label">Message:</label>
                                  <div class="col-md-12">
                                    <textarea class="form-control" rows="3" id="message" name='message' required></textarea>
                                  </div>
                                </div>
                                <hr>
                                <div class="form-group">
                                  <div class="col-md-12 text-right">
                                    <button class="px-50 py-10 btn btn-default text-gray-dark" type="reset">Reset</button>
                                    <button class="px-50 py-10 btn btn-default text-gray-dark" type="submit">Submit <span class="fa fa-arrow-right"></span></button>
                                  </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>